XTerm*faceName: terminus
XTerm*faceSize: 12
!XTerm*background: black
!XTerm*foreground: white
!!! Foreground
xterm*foreground:       #eeeeee
 
 
!!! Background
! Black
!xterm*background: #000000
! Green
!xterm*background: #022C0A
! Brown
!xterm*background: #3F2F08
! Black
xterm*background:       #101010
 
 
!xterm*cursorColor:  #ff0000
!xterm*cursorColor:  #57fd76
!xterm*cursorColor:  yellow
!xterm*cursorColor:      orange
 
!xterm*charClass:        33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
!xterm*dynamicColors:    true
 
 
! Blacks
xterm*color0:           #101010
xterm*color8:           #101010
! Reds
xterm*color1:           #f43753
xterm*color9:           #f43753
! Greens
xterm*color2:           #c9d05c
xterm*color10:          #c9d05c
! Yellows
xterm*color3:           #ffc24b
xterm*color11:          #ffc24b
! Blues
xterm*color4:           #6b868f
xterm*color12:          #8fb1bf
! Purples
xterm*color5:           #d3b987
xterm*color13:          #d3b987
! Cyans
xterm*color6:           #73cef4
xterm*color14:          #73cef4
! Whites
xterm*color7:           #eeeeee
xterm*color15:          #eeeeee
 
 
!!! Themes overrides
 
! MDE’s adobe theme overrides; very similar to vim colorscheme:
!   http://www.vim.org/scripts/script.php?script_id=1365
! Comment these out to enable theme.
!xterm*foreground: #000000
!xterm*background: #A2955F
! yellow1
!xterm*color3:           #684802
! cyan1
!xterm*color6:           #05635d
! blue1
!xterm*color4:           #3a5e87
! blue2
!xterm*color12:          #bcd7fd
! purple2
!xterm*color13:          #cf03a1
! red2
!xterm*color9:           #ffc2c2
! white1
!xterm*color7:           #c7c7c7
 
 
! Other themes
!xterm*background: #E3D7B4
!xterm*background: #AFAF87
